body{
    margin: 0px;
}
#clock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white
}
#clock>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    margin: 30px;
    font-size: 50px;
}
span{
    font-size: 40px;
}